rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    // Function to check if the user is authenticated
    function isAuthenticated() {
      return request.auth != null;
    }

    // Function to check if the user is the owner of the resource
    function isOwner(userId) {
      return isAuthenticated() && request.auth.uid == userId;
    }

    // Rule for user avatars
    match /avatars/{userId}/{allPaths=**} {
      allow read;
      allow write: if isOwner(userId);
    }

    // Rule for post images
    match /posts/{userId}/{allPaths=**} {
      allow read;
      allow write: if isOwner(userId);
    }

    // Rule for business images
    match /businesses/{userId}/{allPaths=**} {
      allow read;
      allow write: if isOwner(userId);
    }
    
    // Rule for event images
    match /event_images/{userId}/{allPaths=**} {
      allow read;
      allow write: if isOwner(userId);
    }

    // Rule for chat images
    match /chat_images/{conversationId}/{allPaths=**} {
      allow read;
      allow write: if isAuthenticated();
    }
  }
}
